<% content_for :title, 'Éditer le Livre bébé de ' + @hero.firstname.capitalize + '| MyLittleHero' %>

<div class="wrapper background-form-up-hero">
  <div class="container">
    <div class="row">
    <div class="col-xs-12">
      <h2 class="text-center">Éditer les informations de <%= @hero.firstname.capitalize %></h2>
    </div>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="form-general">
        <%= simple_form_for [@hero] do |f| %>
          <div class="row">
            <div class="row">
              <h3><strong> Et votre héros ? </strong></h3>
              <div class="col-xs-12 col-md-5">


              <div class="form-group">
                </div>
                <%= f.input :nickname, label: 'Un nouveau surnom ?', input_html: { class: 'input-radius'} %>
                <%= f.input :size, label: 'Combien mesure t-il ? (en cm)', input_html: { class: 'input-radius'} %>
                <%= f.input :eyes_color, label: 'Couleur des yeux', input_html: { class: 'input-radius'} %>

                 <%= f.input :favorite_food, label: 'Son aliment préféré ?', input_html: { class: 'input-radius'} %>
                <%= f.input :first_word, label: 'Ses premier mot ?', input_html: { class: 'input-radius'} %>
                <div class="form-group">
                  <label class="control-label string required" for="adventure_title"><abbr title="required">*</abbr> Il a fait ses premiers pas le...</label>
                  <div class='input-group date' id='first_steps'>
                      <input type='text' name="hero[first_steps]" class="form-control date-radius" />
                      <span class="input-group-addon glyphicon-radius">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-5 col-md-offset-2">
                <%= f.input :firstname, label: "Modifier son prénom", input_html: { class: 'input-radius'} %>
                <%= f.input :weight, label: 'Combien pèse t-il ? (en kg)', input_html: { class: 'input-radius'} %>
                <%= f.input :hair_color, label: 'Couleur des cheveux', input_html: { class: 'input-radius'}%>
                <%= f.input :favorite_toy, label: 'Ses jouets préféré ?', input_html: { class: 'input-radius'} %>
                <%= f.input :first_friend, label: 'Prénom de ses premiers ami(e)s ? ', input_html: { class: 'input-radius'} %>

                <div class="form-group">
                  <label class="control-label string required" for="adventure_title"><abbr title="required">*</abbr> Il a eu sa première dent le...</label>
                  <div class='input-group date' id='first_teeth'>
                      <input type='text' name="hero[first_teeth]" class="form-control date-radius" />
                      <span class="input-group-addon glyphicon-radius">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-12">
                <%= f.input :photo, label: 'Ajouter une nouvelle photo à votre héros', label_html: { class: "btn btn-success input-radius" }, input_html: { class: 'js-picture-upload-input-with-preview hidden'} %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 text-center">
                <%= f.submit "Modifier mon héros", class: 'btn btn-success input-radius schoolbell' %>
              </div>
              <div class="col-xs-12 text-center hero-destroy-button">
                <%= link_to hero_path(@hero), data: { confirm: "Êtes-vous sûr de vouloir supprimer le profil de votre héros?" }, method: :delete do %>
                  <p> Supprimer le profil de <%= @hero.firstname.capitalize %></p>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script type="text/javascript">
      $(function () {
          $('#date_of_birth').datetimepicker({
              format: "D-M-YYYY"
            }
          );
      });
      $(function () {
          $('#first_teeth').datetimepicker({
              format: "D-M-YYYY"
            }
          );
      });
      $(function () {
          $('#first_steps').datetimepicker({
              format: "D-M-YYYY"
            }
          );
      });
  </script>

<% end %>
