<% content_for :title, "Vos héros| MyLittleHero" %>
<!-- FIRST CONTAINER -->
<div class="hero-index-title-container">
  <div class="hero-title text-center">
    <h2>Tous vos Héros </h2>
    <p> Une nouvelle arrivée dans votre famille?</p>
  </div>
</div>
<div class="flex-button-body">
    <div class="hero-index-tabs text-center">
      <div class="hero-index-tab">
        <%= link_to "Un nouvel héros ?", new_hero_path%>
      </div>
    </div>
  </div>
<!-- SECOND CONTAINER -->
<div class="hero-index-cards-container">
  <div class="row">
    <div class="heros-index">

      <% @heros.each do |hero|%>
        <div class="col-xs-12 col-md-4">
          <div class="hero-index-content text-center">
            <div class="hero-index-block">
              <div class="hero-index-photo">
                <%= link_to hero_adventures_path(hero) do %>
                  <% if hero.photo.blank? %>
                    <%= image_tag("smiling_baby.png", height: 250) %>
                  <% else %>
                    <%= cl_image_tag hero.photo, height: 250, width: 250, crop: :fill, gravity: :face, class: 'avatar-index-badge' %>
                  <% end %>
                <% end %>
              </div>
              <h2><%= hero.firstname.capitalize %> <%= hero.lastname.capitalize %></h2>
              <%= link_to  hero_path(hero), class: "btn hero-show-buttons" do %>
                  <i class="fa fa-book"></i> <br> Carnet de bord
              <% end %>
              <%= link_to new_hero_adventure_path(hero), class: "btn hero-show-buttons" do %>
                  <i class="fa fa-rocket"></i> <br> Les aventures
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



