<% content_for :title, "Vos héros| MyLittleHero" %>
<!-- FIRST CONTAINER -->
<div class="hero-index-title-container">
  <div class="hero-title text-center">
    <h2>Tous vos Héros </h2>
    <p> Une nouvelle arrivée dans votre famille?</p>
  </div>
</div>
<div class="flex-button-body">
    <div class="hero-index-tabs text-center">
         <%= link_to  new_hero_path, class: "hero-index-tab" do %>
          <i class="fa fa-plus"></i> <br> <p>Un nouvel héros ?</p>
        <% end %>
    </div>
  </div>
<!-- SECOND CONTAINER -->
<div class="hero-index-cards-container">
  <div class="row">
    <div class="heros-index">
      <% @heros.each do |hero|%>
        <div class="col-xs-12 col-md-4">
          <div class="hero-index-content text-center">
            <div class="hero-index-block">
              <div class="hero-index-photo">
                <%= link_to hero_adventures_path(hero) do %>
                  <% if hero.photo.blank? %>
                    <%= image_tag("smiling_baby.png", height: 250) %>
                  <% else %>
                    <%= cl_image_tag hero.photo, height: 250, width: 250, crop: :fill, gravity: :face, class: 'avatar-index-badge' %>
                  <% end %>
                <% end %>
              </div>
              <h2><%= hero.firstname.capitalize %> <%= hero.lastname.capitalize %></h2>
                <div class="label label-info label-hero"><%= t("relatives.role.#{hero.relatives.where(user_id: current_user.id).first.role}") %></div>
              <%= link_to  hero_path(hero), class: "btn hero-show-buttons" do %>
                  <i class="fa fa-book"></i> <br> Livre de bébé
              <% end %>
              <%= link_to hero_adventures_path(hero), class: "btn hero-show-buttons" do %>
                  <i class="fa fa-rocket"></i> <br> Les aventures
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



