<% content_for :title, @hero.firstname + "| MyLittleHero" %>

<div class="container">
  <div class="head">
    <div class="row">
      <div class="col-xs-12 col-md-8-col-md-offset-2">
        <div class="text-center">
            <% if @hero.photo.blank? %>
            <%= image_tag("smiling_baby.png", height: 100) %>
            <% else %>
            <%= cl_image_tag @hero.photo, class: 'avatar-tlarge' %>
            <% end %>
        </div>
        <div class="text-center">
            <% if @hero.firstname.nil? || @hero.lastname.nil? %>
            <h1><%= @hero.firstname %> <%= @hero.lastname %></h1>
            <% else  %>
            <h1><%= @hero.firstname.capitalize %> <%= @hero.lastname.capitalize %></h1>
            <% end %>
            <h3><%= @hero.nickname %></h3>
        </div>
        <div class="button-head">
          <button type="button" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i>   Editer le profil de <%= @hero.firstname.capitalize %></button>
          <button type="button" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i>  Ajouter nouvelle aventure</button>
        </div>
      </div>
    </div>
  </div>

  <div class="profile">
    <div class="main">
      <div class="main-content">
        <ul class="list-inline">
          <li><% if @hero.gender == "Féminin" %>
            <i class="gender-font-girl fa fa-venus" aria-hidden="true"></i>
          <% else %>
            <i class="gender-font-man fa fa-mars" aria-hidden="true"></i>
          <% end %></li>
          <li><%= @hero.weight.to_f %> kg</li>
          <li><%= @hero.size %> cm</li>
          <li></li>
        </ul>

      </div>
    </div>
    <div class="stat">
      <div class="stat-content">
      <ul>
        <li><i class="fa fa-calendar" aria-hidden="true"></i>: <%= @hero.date_of_birth.strftime("%d/%m/%Y") %></li>
        <li><i class="fa fa-map-marker" aria-hidden="true"></i>: <%= @hero.place_of_birth.capitalize %></li>
        <li><i class="fa fa-superpowers" aria-hidden="true"></i>: <%= @hero.astro_sign.capitalize %></li>
      </ul>

      </div>
    </div>
    <div class="stat-two">
      <div class="stat-content-two">

      </div>
    </div>
    <div class="toy">
      <div class="toy-content">


      </div>
    </div>

  </div>
</div>
