
  <!-- ROW -->
<div class="hero-show-container">

  <div class="row">
    <div class="col-xs-12 col-md-8-col-md-offset-2">
        <div class="hero-image-background text-center">
          <% if @hero.photo.blank? %>
            <%= image_tag("smiling_baby.png", height: 100) %>
            <% else %>
            <%= cl_image_tag @hero.photo, class: 'avatar-show-bordered' %>
          <% end %>
          <h2> Le Livre bébé de <%= @hero.firstname.capitalize %></h2>
          <p> Compléter et afficher toutes les informations de votre héros </p>
        </div>
        <div class="flex-button-body">
          <div class="hero-tabs text-center">
            <div class="hero-tab-buttons-left">

              <div class="flex-button-item">
                <%= link_to  new_hero_adventure_path(@hero), class: "btn hero-show-button" do %>
                <i class="fa fa-plus"></i> <br> aventures
                <% end %>
              </div>
              <div class="hero-tab">
                <h2><%= @hero.adventures.count %></h2>
                  <p>Aventures</p>
              </div>
            </div>

              <div class="hero-tab" >
                <h2><%= @hero.photos.count %></h2>
                <p>Photos</p>
              </div>

              <div class="hero-tab-buttons-right">
                <div class="hero-tab">
                  <h2><%= @hero.relatives.count %></h2>
                  <p>Membres</p>
                </div>
                <div class="flex-button-item-right">
                  <%= link_to  new_hero_relative_path(@hero), class: "btn hero-show-button-two" do %>
                  <i class="fa fa-plus"></i> <br> membres
                  <% end %>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>

<!-- TABS -->
  <div class="row ">
    <div class="col-xs-12 col-md-4">
      <div class="text-center">
      <div class="hero-book-content text-center">
        <div class="hero-book-text">
          <h3> Le petit héro </h3>
          <p> Je m'appelle <strong><%= @hero.firstname.capitalize %> <%= @hero.lastname.capitalize %></strong>, mais ma famille me surnomme <%= @hero.nickname.capitalize %>.</p>
        </div>
      </div>
    </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="hero-book-content text-center">
        <div class="hero-book-text">
          <h3> Ma naissance</h3>
          <p> Je suis né(e) dans dans la jolie ville de <strong><%= @hero.place_of_birth.capitalize %></strong> le <%= @hero.date_of_birth.strftime("%e %B %Y ") %>, c'était un <%= @hero.date_of_birth.strftime("%A") %>. Je suis <%= @hero.astro_sign %></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="hero-book-content text-center">
        <div class="hero-book-text">
          <h3> Ma taille </h3>
           <p>Je grandis très vite... <br> Déjà <%= @hero.size %> cm pour <%= @hero.weight.to_f %> kg à seulement <strong><%=age_count_for(@hero) %> mois</strong>.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col-xs-12 col-md-4">
      <div class="hero-book-content text-center">
        <div class="hero-book-text">
          <h3> Ma frimousse </h3>
            <p>Je suis une jolie <%= @hero.gender %> aux <strong> yeux <%= @hero.eyes_color %></strong> avec les <strong>cheveux <%= @hero.hair_color %></strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="hero-book-content text-center">
        <div class="hero-book-text">
          <h3> Mes jouets</h3>
          <p> Je suis toujours accompagné(e) de mon fidèle acolyte, <strong><%= @hero.favorite_toy %>.</strong></p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="hero-book-content text-center">
        <div class="hero-book-text">
          <h3> Mes ami(e)s </h3>
          <p> Déja plein d'ami(e)s avec qui m'amuser: <strong><%= @hero.first_friend %></strong></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col-xs-12 col-md-4">
      <div class="hero-book-content text-center">
        <div class="hero-book-text">
          <h3> Mes goûts </h3>
            <p>Je découvre des nouvelles saveurs tous les jours mais mes plats préférés sont <strong><%= @hero.favorite_food %></strong>
            </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="hero-book-content text-center">
        <div class="hero-book-text">
         <h3> Premiers mots</h3>
          <p> Enfin je parle! Mes premiers mots: <strong><%= @hero.first_word %> </p></strong>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="hero-book-content text-center">
        <div class="hero-book-text">
          <h3> Premiers pas </h3>
          <p> Depuis le <%= @hero.first_steps.strftime("%e %B %Y ") %>, <strong>je marche!</strong> Attention aux chutes .</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col-xs-12 col-md-4">
      <div class="hero-book-content text-center">
        <div class="hero-book-text">

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="hero-book-content text-center">
        <div class="hero-book-text">
          <h3> Premières dents</h3>
          <p> Depuis le <%= @hero.first_teeth.strftime("%e %B %Y ") %> mes dents poussent. J'ai déjà <strong><%= pluralize @hero.number_of_tooth, "dent" %> </strong> qui ont poussé.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="hero-book-content text-center">
        <div class="hero-book-text">

        </div>
      </div>
    </div>
  </div>

  <!-- ROW COL -->
  <!-- ROW END -->

</div>
