<% content_for :meta_title, 'Voici les proches de' + @hero.firstname + ' | MyLittleHero.com' %>
<% content_for :meta_description %>
<% content_for :meta_image %>

<div class="container">
  <div class="header-relatives text-center">
    <h1>Ma Famille</h1>
    <p>Toutes les personnes ci-dessous représentent les proches de <%= @hero.firstname %></p>
  </div>
  <div class="relatives-banner">
    <div class="relatives-banner-content">
      <div class="parents">
        <div>
          <div class="text-center">
            <h2>Mes parents</h2>
          </div>
          <div class="relatives-avatar">
            <% @relatives.where(family_link: 'parents').each do |relative|%>
              <% if relative.user && relative.user.photo.present? %>
                <%= link_to hero_relative_path(@hero, relative), class: "relatives-hover"  do %>
                  <%= cl_image_tag(relative.user.photo, height: 100, width: 100, crop: :fill, gravity: :face, class: "#{relative_avatar_class(relative)}") %>
                <% end %>
              <% else %>
                <%= link_to hero_relative_path(@hero, relative), class: "relatives-hover"  do %>
                  <%= image_tag('user.png', height: 100 , class: "#{relative_avatar_class(relative)}") %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="freres-soeurs-grands-parents">
        <div>
          <div class="title-relatives">
            <h2>Mes frères et soeurs</h2>
            <div class="plus-button-relatives">
             <% if policy(@hero.relatives.new).create? %>
              <%= link_to new_hero_relative_path(link: "frères et soeurs") do %>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              <% end %>
            <% end %>
            </div>
          </div>
          <div class="relatives-avatar">
          <% @relatives.where(family_link: 'frères et soeurs').each do |relative|%>
              <% if relative.user && relative.user.photo.present? %>
                <%= link_to hero_relative_path(@hero, relative), class: "relatives-hover"  do %>
                  <%= cl_image_tag(relative.user.photo, height: 100, width: 100, crop: :fill, gravity: :face, class: "#{relative_avatar_class(relative)}") %>
                <% end %>
              <% else %>
                <%= link_to hero_relative_path(@hero, relative), class: "relatives-hover"  do %>
                  <%= image_tag('user.png', height: 100 , class: "#{relative_avatar_class(relative)}") %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div>
          <div class="title-relatives">
            <h2>Mes grand-parents</h2>
            <div class="plus-button-relatives">
            <% if policy(@hero.relatives.new).create? %>
              <%= link_to new_hero_relative_path(link: "grand-parents") do %>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              <% end %>
            <% end %>
            </div>
          </div>
          <div class="relatives-avatar">
            <% @relatives.where(family_link: 'grand-parents').each do |relative|%>
              <% if relative.user && relative.user.photo.present? %>
                <%= link_to hero_relative_path(@hero, relative), class: "relatives-hover"  do %>
                  <%= cl_image_tag(relative.user.photo, height: 100, width: 100, crop: :fill, gravity: :face, class: "#{relative_avatar_class(relative)}") %>
                <% end %>
              <% else %>
                <%= link_to hero_relative_path(@hero, relative), class: "relatives-hover"  do %>
                  <%= image_tag('user.png', height: 100 , class: "#{relative_avatar_class(relative)}") %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="hero-relative">
        <%= link_to hero_path(@hero) do %>
          <%= cl_image_tag(@hero.photo, height: 200, width: 200, crop: :fill, gravity: :face, class: "avatar-show-bordered")%>
        <% end %>
      </div>
      <div class="oncles-tantes-cousins-cousines">
        <div>
          <div class="title-relatives">
            <h2>Mes oncles et tantes</h2>
            <div class="plus-button-relatives">
             <% if policy(@hero.relatives.new).create? %>
              <%= link_to new_hero_relative_path(link: "oncles et tantes") do %>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              <% end %>
            <% end %>
            </div>
          </div>
          <div class="relatives-avatar">
            <% @relatives.where(family_link: 'oncles et tantes').each do |relative|%>
              <% if relative.user && relative.user.photo.present? %>
                <%= link_to hero_relative_path(@hero, relative), class: "relatives-hover"  do %>
                  <%= cl_image_tag(relative.user.photo, height: 100, width: 100, crop: :fill, gravity: :face, class: "#{relative_avatar_class(relative)}") %>
                <% end %>
              <% else %>
                <%= link_to hero_relative_path(@hero, relative), class: "relatives-hover"  do %>
                  <%= image_tag('user.png', height: 100 , class: "#{relative_avatar_class(relative)}") %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div>
          <div class="title-relatives">
            <h2>Mes cousins et cousines</h2>
            <div class="plus-button-relatives">
             <% if policy(@hero.relatives.new).create? %>
              <%= link_to new_hero_relative_path(link: "cousins et cousines") do %>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              <% end %>
            <% end %>
            </div>
          </div>
          <div class="relatives-avatar">
            <% @relatives.where(family_link: 'cousins et cousines').each do |relative|%>
              <% if relative.user && relative.user.photo.present? %>
                <%= link_to hero_relative_path(@hero, relative), class: "relatives-hover"  do %>
                  <%= cl_image_tag(relative.user.photo, height: 100, width: 100, crop: :fill, gravity: :face, class: "#{relative_avatar_class(relative)}") %>
                <% end %>
              <% else %>
                <%= link_to hero_relative_path(@hero, relative), class: "relatives-hover"  do %>
                  <%= image_tag('user.png', height: 100 , class: "#{relative_avatar_class(relative)}") %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="amis">
        <div>
          <div class="title-relatives">
            <h2>Les amis de ma famille</h2>
            <div class="plus-button-relatives">
             <% if policy(@hero.relatives.new).create? %>
              <%= link_to new_hero_relative_path(link: "amis de la famille") do %>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              <% end %>
            <% end %>
            </div>
          </div>
          <div class="relatives-avatar">
            <% @relatives.where(family_link: 'amis de la famille').each do |relative|%>
              <% if relative.user && relative.user.photo.present? %>
                <%= link_to hero_relative_path(@hero, relative), class: "relatives-hover"  do %>
                  <%= cl_image_tag(relative.user.photo, height: 100, width: 100, crop: :fill, gravity: :face, class: "#{relative_avatar_class(relative)}") %>
                <% end %>
              <% else %>
                <%= link_to hero_relative_path(@hero, relative), class: "relatives-hover"  do %>
                  <%= image_tag('user.png', height: 100 , class: "#{relative_avatar_class(relative)}") %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



