<% content_for :title, 'Invitez un de vos proche à rejoindre le cercle familiale ! | MyLittleHero.com' %>
<% content_for :meta_description %>
<% content_for :meta_image %>

<div class="wrapper background-form-up">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <h1 class="text-center">Invitez vos proches à rejoindre l'aventure MyLittleHero !</h1>
        <div class="text-center">
          <p class="text-justify">Envoyez une invitation à une personne de votre famille ou de votre entourage afin que celle-ci puisse avoir accès à l'univers de votre héro. Pour ce faire, rien de plus simple, renseignez son adresse mail ci-dessous ainsi que son "degré" d'autorisation.</p>
        </div>

        <div class="form-general">
          <%= simple_form_for [@hero, @relative] do |f| %>
            <%= f.input :email %>
            <%= f.input :mother_side, as: :radio_buttons, collection: [['papa', false], ['maman', true]], label: 'Est-ce un proche de.. ' %>
            <%= f.input :family_link, collection: Relative::FAMILY_LINKS %>
            <%= f.input :role, collection: Relative::ROLES  %>
            <%= f.submit "Envoyer l'invitation", class: 'btn btn-info input-radius' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


