<% content_for :title, 'Voici les information relative à ' + @relative.user.firstname + ' ! | MyLittleHero' %>
<% content_for :meta_description %>
<% content_for :meta_image %>


<div class="relative-infos text-center" style="background-image: url('<%= image_path('background1.jpg') %>');">
  <h1>Bienvenue sur le profil de <%= @relative.user.nickname%></h1>
  <div class="relatives-avatar-show">
    <%= cl_image_tag @relative.user.photo, height: 100, width: 100, crop: :fill, gravity: :face %>
  </div>
  <h3><%= @relative.user.firstname%> <%= @relative.user.lastname %></h3>
  <div class="flex-button-body">
    <div class="hero-tabs text-center">
      <div class="hero-tab-relative">
        <% @relative.user.date_of_birth.strftime("%d/%m/%Y") %>
          <h2><%= age_count_for(@relative) %></h2>
          <p>ans</p>
      </div>
      <div class="hero-tab-relative">
        <h2><%= @relative.user.created_at.strftime("%d/%m/%Y") %></h2>
        <p>Date d'inscription</p>
      </div>
      <div class="hero-tab-relative">
        <h2><%= @relative.user.comments.count %></h2>
        <p>Nombre de commentaires laissés</p>
      </div>
    </div>
  </div>
</div>
<div class="darkblue-background" style="border-top: 5px solid #ebba00;">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="hero-book-content text-center">
          <div class="hero-book-text">
            <h3>Lieu de naissance</h3>
            <% if @relative.user.gender == 'Femme' %>
              <p>Elle est née à <strong><%= @relative.user.place_of_birth.capitalize %></strong></p>
            <% else %>
              <p> Il est né à <strong><%= @relative.user.place_of_birth.capitalize %></strong></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="hero-book-content text-center">
          <div class="hero-book-text">
            <h3> Musique préférée</h3>
            <p> Sa musique préférée est <strong><%= @relative.user.favorite_song.capitalize %></strong></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="hero-book-content text-center">
          <div class="hero-book-text">
            <h3> Film préféré</h3>
            <p> Son film préféré est <strong><%= @relative.user.favorite_movie.capitalize %></strong> ! </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="hero-book-content text-center">
          <div class="hero-book-text">
            <h3>Son job</h3>
            <p> Elle est <strong><%= @relative.user.job %></strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- CLOUDS FIN -->

