<div class="colorup"></div>
<div class="navbar-wagon <%= yield(:navbar_class) %>">
  <!-- Logo -->
  <%= link_to root_path do %>
    <%= image_tag('logo.png', size: '70x40', alt: 'logo', class: 'navbar-wagon-brand')%>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <% if @hero && @hero.id %>
          <%= link_to 'Ma famille', hero_relatives_path(@hero), class: 'navbar-wagon-item navbar-wagon-link' %>
          <%= link_to 'Mes aventures', hero_adventures_path(@hero), class: 'navbar-wagon-item navbar-wagon-link' %>
          <%= link_to 'Mes autres héros', heros_path, class: 'navbar-wagon-item navbar-wagon-link' %>
        <% end %>
      <% end %>


    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% if user_signed_in? %>
          <% if current_user.photo.nil? %>
              <%= image_tag('user.png', class: 'avatar-nav dropdown-toggle',alt: 'profile-picture', id: 'navbar-wagon-menu', data: { toggle: 'dropdown' }) %>
          <% elsif %>
            <%= image_tag(current_user.photo, class: 'avatar-nav dropdown-toggle',alt: 'profile-picture', id: 'navbar-wagon-menu', data: { toggle: 'dropdown' }) %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to 'Mon profil', profile_path %></li>
            <li><%= link_to 'Déconnexion',  destroy_user_session_path, method: :delete %></li>
          </ul>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <% if @hero && @hero.id %>
            <li><%= link_to 'Ma famille', hero_relatives_path(@hero) %></li>
            <li><%= link_to 'Mes aventures', hero_adventures_path(@hero) %></li>
            <li><%= link_to 'Mes autres héros', heros_path %></li>
          <% else %>
            <%= link_to 'Mes héros', heros_path %>
          <% end %>
          <li><%= link_to 'Mon profil', profile_path %></li>
          <li><%= link_to 'Déconnexion',  destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <%= link_to 'Se connecter',  new_user_session_path, class: 'navbar-wagon-item navbar-wagon-link' %>
      <% end %>
    </div>
  </div>
</div>


