<% content_for :meta_title, "Ma vie pleine d'aventures 👶 " %>
<% content_for :meta_description %>
<% content_for :meta_image %>

<% adventure = @adventures.first %>
<% adventures_presenter = AdventuresPresenter.new(@adventures) %>
<div class="wrapper background-custom">
  <div class="container">
  <% adventures_presenter.adventures_groups.each_with_index do |adventures_group, index| %>
    <% grid_rules = adventures_presenter.grid_rules[index] %>
    <% grid_class = grid_rules[:grid_class] %>


    <div class="<%= grid_class %>">
      <% adventures_group.each_with_index do |adventure, index| %>
        <% styling_rules = grid_rules[:adventures_styling_rules][index] %>
        <% adventure_classes = "#{styling_rules[:div_class]} #{styling_rules[:position_class]}" %>
        <% image_class = styling_rules[:image_class] %>
        <% hidden_class = styling_rules[:hidden] ? "hidden" : "" %>

        <div class="<%= adventure_classes %> adventure-card" data-toggle="modal" data-target="#adventure-<%= adventure.id %>">
          <% if styling_rules[:div_class] == "small-adv" %>
            <div style="background-image: url('<%= cl_image_path adventure.photos.first.picture %>');" class="<%= image_class %>">
              <div class="<%= hidden_class %> adventure-card-description text-center">
              </div>
            </div>
          <% elsif styling_rules[:div_class] == "medium-adv" %>
            <div style="background-image: url('<%= cl_image_path adventure.photos.first.picture %>');" class="<%= image_class %>">
            </div>
            <div class="<%= hidden_class %> adventure-card-description text-center">
            </div>
          <% else %>
            <div style="background-image: url('<%= cl_image_path adventure.photos.first.picture %>');" class="<%= image_class %>">
            </div>
            <div class="<%= hidden_class %> adventure-card-description text-center">
            </div>
          <% end %>
        </div>
        <div class="modal fade" id="adventure-<%= adventure.id %>" tabindex="-1" role="dialog" aria-labelledby="<%= adventure.title %>" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header darkblue-background">
                <h2 class="modal-title text-center" id="<% adventure.title %>"><%= adventure.title %></h2>
              </div>
              <div class="modal-body current-adventure-content">
                <%= cl_image_tag adventure.photos.first.picture, class: 'current-adventure-img' %>
                <p><%= adventure.description %></p>
                <p>
                  À <%= adventure.location %> le <%= adventure.date %>
                </p>
              </div>
              <div class="modal-footer text-right">
                <% if policy(adventure).edit? %>
                  <%= link_to 'Éditer', edit_hero_adventure_path(@hero, adventure), class: 'btn btn-primary modal-btn' %>
                <% end %>
                <% if policy(adventure).destroy? %>
                  <%= link_to 'Supprimer', hero_adventure_path(@hero, adventure), method: :delete, class: 'btn btn-danger modal-btn' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
