<% content_for :meta_title, "Ma vie pleine d'aventures 👶 " %>
<% content_for :meta_description %>
<% content_for :meta_image %>

<div class="wrapper background-custom">
  <div class="container">
  <% @adventures_presenter.adventures_groups.each_with_index do |adventures_group, index| %>
    <% grid_rules = @adventures_presenter.grid_rules[index] %>
    <% grid_class = grid_rules[:grid_class] %>
    <div class="<%= grid_class %>">
      <% adventures_group.each_with_index do |adventure, index| %>
        <% styling_rules = grid_rules[:adventures_styling_rules][index] %>
        <% adventure_classes = "#{styling_rules[:div_class]} #{styling_rules[:position_class]}" %>
        <% image_class = styling_rules[:image_class] %>
        <% hidden_class = styling_rules[:hidden] ? "hidden" : "" %>

        <div class="<%= adventure_classes %> adventure-card" data-toggle="modal" data-target="#adventure-<%= adventure.id %>">
          <% if styling_rules[:div_class] == "small-adv" %>
            <div style="background-image: url('<%= cl_image_path adventure.photos.first.picture %>');" class="<%= image_class %>">
              <div class="<%= hidden_class %> adventure-card-description text-center">
              </div>
            </div>
          <% elsif styling_rules[:div_class] == "medium-adv" %>
            <div style="background-image: url('<%= cl_image_path adventure.photos.first.picture %>');" class="<%= image_class %>">
            </div>
            <div class="<%= hidden_class %> adventure-card-description text-center">
            </div>
          <% else %>
            <div style="background-image: url('<%= cl_image_path adventure.photos.first.picture %>');" class="<%= image_class %>">
            </div>
            <div class="<%= hidden_class %> adventure-card-description text-center">
            </div>
          <% end %>
        </div>
        <div class="modal fade" id="adventure-<%= adventure.id %>" tabindex="-1" role="dialog" aria-labelledby="<%= adventure.title %>" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header darkblue-background">
                <h2 class="modal-title text-center" id="<% adventure.title %>"><%= adventure.title %></h2>
              </div>
              <div class="modal-body current-adventure-content">
                <%= cl_image_tag adventure.photos.first.picture, width: 600, class: 'current-adventure-img' %>
                <p><%= adventure.description %></p>
                <p>
                  À <%= adventure.location %> le <%= adventure.date %>
                </p>
                <% if adventure.comments.count == 0 %>
                  <p>Il y a actuellement <strong> <%= adventure.comments.count %> </strong> commentaire sur cette photo. Soyez le/la premier(e) !</p>
                <% else %>
                  <p> Il y a actuellement <strong> <%= adventure.comments.count %> </strong> commentaires sur cette photo.</p>
                <% end %>
              </div>
              <!-- Comments -->
              <div class="comments-container">
                <%= simple_form_for([adventure, @comment]) do |f| %>
                  <%= f.input :content, label: 'Rédiger un commentaire', input_html: {class: ''} %>
                  <%= f.submit "Poster", {class: 'btn btn-success'} %>
                <% end %>
                <h2>Commentaires</h2>
                <ul id="comments-list" class="comments-list">
                  <% adventure.comments.order(created_at: :desc).each do |comment| %>
                    <li>
                      <div class="comment-main-level">
                        <div class="comment-box">
                          <div class="comment-head">
                            <div class="comment-avatar">
                              <%= link_to hero_relative_path(@hero, @hero.relatives.find_by_user_id(comment.user_id)), class: "relatives-hover" do %>
                              <%= cl_image_tag comment.user.photo, height: 100, width: 100, crop: :fill, gravity: :face %>
                              <% end %>
                            </div>
                            <h6 class="comment-name by-author">
                              <%= link_to hero_relative_path(@hero, @hero.relatives.find_by_user_id(comment.user_id)), class: "relatives-hover" do %>
                                <%= comment.user.firstname.capitalize %> <%= comment.user.lastname.capitalize %>
                              <% end %>
                            </h6>
                            <div class="like-delete">
                              <i class="fa fa-heart"></i>
                              <%= link_to adventure_comment_path(adventure, comment), method: :delete do %>
                                <i class="fa fa-trash-o"></i>
                              <% end %>
                            </div>
                          </div>
                          <div class="comment-content">
                            <%= comment.content %>
                          </div>
                        </div>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
              <!-- Comments -->
              <div class="modal-footer text-right">
                <% if policy(adventure).edit? %>
                  <%= link_to 'Éditer', edit_hero_adventure_path(@hero, adventure), class: 'btn btn-primary modal-btn' %>
                <% end %>
                <% if policy(adventure).destroy? %>
                  <%= link_to 'Supprimer', hero_adventure_path(@hero, adventure), method: :delete, class: 'btn btn-danger modal-btn' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
