<% content_for :title, "Ajouter une nouvelle aventure 👶 "%>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="form-container">
        <div class="col-xs-12">
          <h1 class="text-center">Ajoute une nouvelle aventure</h1>
        </div>
        <%= simple_form_for [@hero, @adventure] do |f| %>
          <div class="row">
            <div class="col-xs-12 col-md-5">
              <%= f.input :title %>
              <%= f.input :description %>
              <%= f.input :location %>

            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-2 ">
              <%= f.input :date %>
              <%= f.simple_fields_for :photos do |p| %>
                <%= p.input :picture, as: :file %>
              <% end %>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <%= f.submit class: 'btn btn-success' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
