<% content_for :title, "#{@adventure.title} | MyLittleHero" %>


<div class="container">
  <div class="row">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
      voir l'image
    </button>

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header darkblue-background">
            <h2 class="modal-title text-center" id="exampleModalLongTitle"><%= @adventure.title %></h2>
          </div>
          <div class="modal-body current-adventure-content">
            <%= cl_image_tag @adventure.photos.first.picture, class: 'current-adventure-img' %>
            <p><%= @adventure.description %></p>
            <p>
              À <%= @adventure.location %> le <%= @adventure.date %>
              <%= link_to edit_hero_adventure_path do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>
              <%= link_to hero_adventure_path, method: :delete do %>
                 <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
