<% content_for :meta_title, "Bienvenue sur My Little Hero - Partagez les aventures de votre héro 👶" %>
<% content_for :meta_description %>
<% content_for :meta_image %>

<% content_for :navbar_class, 'navbar-home' %>

<div class="row">
  <div class="col-xs-12">
    <div class="homepage-banner" style='background-image: linear-gradient(-225deg, rgba(129, 185, 191, 0.1) 95%, rgba(255, 238, 255, 1) 5%), url("<%= image_path('mlh-banner.jpg')%>");'>
      <div class="banner-content text-center">
        <h1>My Little Hero</h1>
        <p><strong>Le livre de bébé qui réunit toute la famille</strong></p>
        <div class="text-center">
          <%= link_to "Créer mon livre de bébé", new_hero_path, class: "btn banner-button" %>
        </div>
      </div>
    </div>
  </div>
<div class="wrapper">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="step-icon">
          <div class='step-block'>
            <%= image_tag('book-icon.png', class: 'home-icon ')  %>
          </div>
        </div>
        <div class="step-description text-center">
          <h2>Créer</h2>
          <p>je crée un livre pour mon héros</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class='step-block'>
          <%= image_tag('adventure-icon.png', class: 'home-icon ')  %>
        </div>
        <div class="step-description text-center">
          <h2>Personnaliser</h2>
          <p>j'ajoute ses aventures</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class='step-block'>
          <%= image_tag('share-icon.png', class: 'home-icon ')  %>
        </div>
        <div class="step-description text-center">
          <h2>Partager</h2>
          <p>je partage ses exploits avec ma famille</p>
        </div>
      </div>
    </div>
  </div>
</div>


    <div class="wrapper blue-background">
  <div class="container">

    <div class="features">
      <div class="row">

        <div class="col-xs-12 col-md-4">
          <div class="features-card text-center">
            <i class="fa fa-heart feature-red" aria-hidden="true"></i>
            <h2>Bonheur</h2>
            <p>Un véritable livre d'aventures dédié à la vie de bébé.</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="features-card text-center">
            <i class="fa fa-check-square-o feature-blue" aria-hidden="true"></i>
            <h2>Partage</h2>
            <p>Vous pourrez facilement inviter vos proches à raconter les moments importants de la vie de vos enfants.</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="features-card  text-center">
            <i class="fa fa-lock feature-green" aria-hidden="true"></i>
            <h2>Serénité</h2>
            <p>Partager uniquement à vos proches la vie de vos enfants, pour leur plus grand plaisir.</p>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>




    <!-- <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="row">
        <div class="text-center newsletter-form">
        <div class="thumbnail center well well-small text-center">
                <h2>Newsletter</h2>

                <p>Abbonez-vous à notre newsletter et rester au courant de notre avancé</p>

                <form action="" method="post">
                    <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
                        <input type="text" id="" name="" placeholder="your@email.com">
                    </div>
                    <br />
                    <input type="submit" value="Subscribe Now!" class="btn btn-large" />
                </form>
        </div>
        </div>
      </div>
    </div> -->
